* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--BG: rgb(3, 4, 94);
	--BETWEEN: rgb(0, 180, 216);
	--ACCENT: rgb(202, 240, 248);
}

body {
	height: 100vh;
	background-color: var(--BG);
	color: var(--ACCENT);
	overflow: hidden;
}

button {
	cursor: pointer;
	border: none;
}

section > button {
	aspect-ratio: 1;
	padding: 20px;

	position: absolute;
	top: 0;
	right: 0;

	font-size: 3rem;
	color: var(--ACCENT);

	background-color: transparent;
}

section {
	height: 100%;
}

#startMenu {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

h1 {
	font-size: clamp(3rem, 18vw, 6rem);
}
p {
	font-size: min(5vw, 1.5rem);
	transition: transform 300ms;
}
#startMenu > div:first-of-type {
	padding: 10px;
	border: 3px solid white;
	border-radius: 10px;
	
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}
.btns {
	display: flex;
	gap: 40px;
}
.btns button {
	width: min(25vw, 200px);
	padding: 10px;
	border-radius: 10px;

	font-size: min(3.5vw, 1.8rem);
}

#game {
	display: flex;
	align-items: center;
}
#board {
	aspect-ratio: 1;
	margin: auto;

	position: relative;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;

	background-color: white;
}
#board > div {
	position: relative;
	
	background-color: var(--BG);
	cursor: pointer;
	container-type: inline-size;
}
#board > div > div {
	position: absolute;
	top: 50%;
	left: 50%;
}
#board > div > .x-line {
	width: 90%;
	height: 10%;

	transform: translate(-50%, -50%) rotate(-45deg);
	background-color: var(--ACCENT);
}
#board > div > .x-line:nth-of-type(2) {
	transform: translate(-50%, -50%) rotate(45deg);
}
#board > div > .o-div {
	width: 70%;
	aspect-ratio: 1;
	border-radius: 200px;
	border: 10cqw solid var(--ACCENT);

	transform: translate(-50%, -50%);
}

#board span {
	width: 0;
	height: 5%;
	border-radius: 100px;

	position: absolute;

	background-color: var(--BETWEEN);
	z-index: 1;
}

dialog {
	width: clamp(250px, 50%, 800px);
	margin: auto;

	display: flex;
	flex-wrap: wrap;
	gap: 5px;

	background-color: black;
}
dialog span {
	width: 100%;
	height: 100px;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 2rem;
	background-color: white;
}
dialog button {
	height: 50px;
	flex: 1;
}
dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

/* Winner line */
.H-1,
.H-2,
.H-3 {
	left: 50%;
	transform: translate(-50%, -50%);
}
.H-1 {
	top: 16.4%;
}
.H-2 {
	top: 50%;
}
.H-3 {
	top: 83.6%;
}
.V-1,
.V-2,
.V-3 {
	top: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
}
.V-1 {
	left: 16.4%;
}
.V-2 {
	left: 50%;
}
.V-3 {
	left: 83.6%;
}
.D-main {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}
.D-counter {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.hidden {
	display: none;
	position: absolute;
	opacity: 0;
	transform: scale(0);
}

@media (orientation: landscape) {
	#board {
		height: 80%;
	}
}
@media (orientation: portrait) {
	#board {
		width: 80%;
	}
	#game {
		flex-direction: column;
	}
	.btns{
		flex-direction: column;
	}
}
